{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    {% load static %}
        <div class="site-section border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Наша команда</h2>
          </div>
        </div>
        <div class="row" style="justify-content: space-between;">
          <div class="col-md-6 col-lg-3">

            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="media/about_us/person1.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Шалимов Станислав</h3>
                  <p class="block-38-subheading">Главный разработчик</p>
                </div>
                <div class="block-38-body">
                  <p>Занимается координацией и разработкой программного обеспечения, оценивает текущее состояние проекта и выявляет слабые стороны проекта, нуждающиеся в доработке. Объединяет усилия всех лиц, задействованных в проекте.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="media/about_us/person2.gif" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Мокеева Яна</h3>
                  <p class="block-38-subheading">Веб-дизайнер</p>
                </div>
                <div class="block-38-body">
                  <p>Дизайнер интерфейсов, ответственный за документацию. Создаёт оболочку и интерфейс ПО, занимается подготовкой документов и сдачей отчётности</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="media/about_us/person3.jpg" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">Тамадаев Рамазан</h3>
                  <p class="block-38-subheading">Тестировщик</p>
                </div>
                <div class="block-38-body">
                  <p>Бизнес-аналитик, тестировщик. Указывает на возможные ошибки, анализирует состояние. Разрабатывает стратегию развития и взаимодействия с пользователями ПО.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
