{% extends "base.html" %}

{% block title %}Товар{% endblock %}

{% block content %}
    {% if not_empty %}
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Изображение</th>
                    <th class="product-name">Товар</th>
                    <th class="product-price">Цена</th>
                    <th class="product-quantity">Количество</th>
                    <th class="product-total">Итог</th>
                    <th class="product-remove">Удалить</th>
                  </tr>
                </thead>
                <tbody>
                {% for ordered_item in order.ordereditem_set.all %}
                  <tr>
                    <td class="product-thumbnail">
                      <img src="/media/{{ ordered_item.item.image }}" alt="Image" class="img-fluid">
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">{{ ordered_item.item.name }}</h2>
                    </td>
                      <td><h2 class="h5 text-black">{{ ordered_item.item.price }}₽</h2></td>
                    <td><h2 class="h5 text-black">{{ ordered_item.count }} шт.</h2></td>

                    </td>
                    <td><h2 class="h5 text-black">{{ ordered_item.cost }}₽</h2></td>
                    <td><a href="/delete/{{ ordered_item.item.pk }}" class="btn btn-primary btn-sm">X</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-12">
                <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='/items/0/all'" style="width: 320px;">Продолжить покупки</button>
              </div>
            </div>

          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Итого</h3>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Цена</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">{{ order.get_cart_total|floatformat:2 }}₽</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <a class="btn btn-primary btn-lg py-3 btn-block" href="/checkout">Оформить заказ</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}<h1 class="text-center">Корзина пуста.</h1>
    {% endif %}
{% endblock %}
